* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
input,
select,
textarea {
  outline: 0;
  border: 1px solid #000;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
}
body {
  line-height: 1;
  font-family: "IBM Plex Sans KR", sans-serif;
}
.clear_fix::after {
  content: "";
  display: block;
  clear: both;
}

#header {
  position: absolute;
  top: 0px;

  .header-mobileMenu {
    display: none;
    position: fixed;
    right: -320px;
    width: 320px;
    height: 100%;
    z-index: 10;
    background-color: #fff;
    transition: all 0.3s;
    opacity: 0.9;
    .navMenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .menuList {
        width: 80%;
        margin: 0 auto;
        > ul {
          margin-top: 120px;
          > .menu {
            padding-top: 30px;
            padding-bottom: 30px;
            font-size: 20px;
            font-weight: bold;
            > a {
              color: #f5821f;
            }
            .depth2 {
              > a {
                li {
                  color: #f5821f;
                  font-size: 16px;
                  margin: 24px 0;
                  font-weight: 400;
                  display: none;
                }
              }
            }
            .depth2.on {
              > a {
                li {
                  color: #f5821f;
                  font-size: 16px;
                  margin: 24px 0;
                  font-weight: 400;
                  display: block;
                }
              }
            }
          }
        }
      }
      .btns i {
        font-size: 24px;
        margin-left: 30px;
        color: #f5821f;
        opacity: 0.8;
        transition: all 0.3s;
        margin-bottom: 30px;
        &:hover {
          scale: 1.2;
          opacity: 1;
        }
      }
      .searchBtn {
        margin-left: 30px;
        margin-top: 30px;
        display: inline;
        a {
          color: #fff;
          background-color: #f5821f;
          border-radius: 10px;
          padding: 15px;
        }
      }
    }
  }
  .header-top {
    z-index: 10;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    background-color: #fff;
    .hamburgerbtn {
      position: absolute;
      z-index: 40;
      width: 70px;
      height: 102px;
      right: 30px;
      .hamburger {
        height: 102px;
        display: none;
        position: absolute;
        z-index: 40;
      }
    }
    .logo {
      margin-left: 80px;
      line-height: 100px;
      img {
        height: 80px;
      }
    }
    .gnb {
      ul {
        display: flex;
        justify-content: space-evenly;
        line-height: 100px;
        width: 700px;
        li {
          width: 150px;
          a {
            color: #e11383;
            font-size: 18px;
            font-weight: bold;
          }
          &:last-of-type {
            margin-right: 0px;
          }
          .depth2 {
            display: block;
            width: 150px;
            height: 0px;
            transition: all 0.1s;
            li {
              display: none;
              line-height: 50px;
              a {
                font-weight: 400;
                transition: all 0.3s;
              }
            }
          }
        }
        &:hover {
          .depth2 {
            display: block;
            height: 208px;
            li {
              display: block;
              box-shadow: inset 0 0 0 0 #e11383;
              margin: 0 -0.25rem;
              padding: 0 0.25rem;
              transition: box-shadow 0.3s ease-in-out;
              a {
                transition: color 0.3s ease-in-out;
              }
              &:hover {
                box-shadow: inset 150px 0 0 0 #e11383;
                a {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
    .btns {
      margin-right: 80px;
      display: flex;
      i {
        line-height: 100px;
        color: #f5821f;
        font-size: 24px;
        margin-left: 20px;
        margin-right: 20px;
        opacity: 0.8;
        transition: all 0.3s;
      }
      i:hover {
        opacity: 1;
        scale: 1.2;
      }
    }
  }
}

#cont1 {
  z-index: 1;
  .swiper-wrapper {
    width: 100%;
    height: 100vh;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      &:first-of-type {
        background-image: url("/img/bg1.jpg");
      }
      &:nth-of-type(2) {
        background-image: url("/img/bg2.jpg");
      }
      &:nth-of-type(3) {
        background-image: url("/img/bg3.jpg");
      }
      h2 {
        position: absolute;
        width: 90%;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        color: #fff;
      }
    }
  }
  .swiper {
    position: relative;
    .scrollbtn {
      position: absolute;
      bottom: 60px;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      img {
        height: 60px;
        transition: all 0.3s;
      }
      &:hover {
        img {
          scale: 1.2;
        }
      }
    }
  }
}

#cont2 {
  width: 100%;
  display: flex;
  position: relative;
  .item {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    img {
      width: 400px;
    }
  }
  .left {
    height: 100vh;
    width: 50%;
    position: relative;
    .title {
      padding-top: 120px;
      padding-left: 50px;
      color: #fff;
      margin-bottom: 20px;
      font-weight: bold;
      font-size: 48px;
    }
    .menu {
      position: absolute;
      left: 50px;
      top: 50%;
      transform: translateY(-50%);
      li {
        a {
          color: #fff;
          font-size: 24px;
          line-height: 40px;
          position: relative;
          width: 0px;
          transition: all 0.3s;
        }
        a.on::after {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #fff;
        }
      }
    }
    background-image: url("/img/menu1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.3s;
  }
  .right {
    width: 50%;
    background-color: #f8faf0;
    position: relative;
    .contents {
      width: 50%;
      left: 25%;
      position: absolute;
      color: #f5821f;
      padding-top: 120px;
      .title {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 48px;
      }
      .context {
        font-size: 20px;
        line-height: 1.5;
      }
    }
    .items {
      position: absolute;
      display: flex;
      top: 50%;
      right: 20%;
      transform: translateY(-50%);
      img {
        width: 140px;
      }
    }
    .recom {
      width: 50%;
      left: 25%;
      bottom: 240px;
      position: absolute;
      color: #f5821f;
      font-size: 20px;
      .title::after {
        position: relative;
        top: 10px;
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #f5821f;
      }
      .images {
        position: absolute;
        display: flex;
        img {
          width: 100px;
        }
      }
    }
  }
}
#cont3 {
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    height: 30vh;
    color: #f5821f;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 48px;
    font-weight: bold;
  }
  .bot {
    height: 70vh;
    background-image: url("/img/cont3bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}
#cont4 {
  width: 100%;
  height: 100vh;
  display: flex;
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contents {
      width: 80%;
      margin: 0 auto;
      margin-top: 100px;
      .title {
        color: #f5821f;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 60px;
      }
      .context {
        color: #f5821f;
        font-size: 16px;
        line-height: 1.5;
        p {
          margin-bottom: 100px;
        }
      }
    }
    .countbox {
      border: 1px solid #e4e4e4;
      width: 80%;
      margin: 0 auto;
      padding: 50px;
      box-sizing: border-box;
      p {
        color: #f5821f;
        font-size: 16px;
        line-height: 1.5;
      }
      h2 {
        color: #f5821f;
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 60px;
        display: inline;
      }
      span {
        color: #f5821f;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .btn {
      width: 80%;
      margin: 0 auto;
      a {
        display: inline-block;
        margin: 50px auto;
        padding: 15px;
        background-color: #f5821f;
        color: #fff;
        font-weight: bold;
        border-radius: 10px;
      }
    }
  }

  .right {
    width: 50%;
    background-image: url("/img/cont4bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#cont5 {
  background-color: #f8faf0;
  height: 90vh;
  position: relative;
  .circleEffect {
    width: 150px;
    height: 150px;
    background-color: transparent;
    position: absolute;
    top: 50px;
    left: 10%;
    .circle {
      position: absolute;
      width: 150px;
      height: 150px;

      animation: circle-linear 5s linear infinite;
      transition: 5s linear infinite;
      @keyframes circle-linear {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }
    }
    .arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .title {
    padding-top: 120px;
    box-sizing: border-box;
    color: #f5821f;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    i {
      color: #f5821f;
      margin-right: 20px;
    }
  }
  .cards {
    display: flex;
    justify-content: center;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    .card {
      display: flex;
      margin: 30px;
      justify-content: center;
      align-items: center;

      img {
        width: 300px;
        height: 500px;
        border-radius: 20px;
      }
    }
  }
}

#footer {
  background-color: #f5821f;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  .logo {
    margin: 0 auto;
    img {
      width: 200px;
    }
  }
  .icons {
    i {
      color: #fff;
      margin: 20px;
      font-size: 24px;
      opacity: 0.8;
      transition: all 0.3s;
      &:hover {
        scale: 1.2;
        opacity: 1;
      }
    }
  }
  .copyright {
    color: #fff;
    text-align: center;
    width: 900px;
    line-height: 1.5;
    .info {
      margin: 40px 0;
      span::after {
        content: "|";
        width: 1px;
        position: relative;
        top: -1px;
        left: 3px;
        color: rgba(255, 255, 255, 0.6);
      }
      span:last-of-type::after {
        display: none;
      }
    }
  }
}

#menucont {
  .center {
    max-width: 1100px;
    margin: 0 auto;
    .title {
      color: #f5821f;
      font-size: 48px;
      margin-top: 202px;
      margin-bottom: 100px;
      margin-left: 10%;
      margin-right: 5%;
      font-weight: bold;
    }
    .select {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      li {
        text-align: center;
        margin: 10px 20px;
        a {
          color: #f5821f;
          opacity: 0.5;
          transition: all 0.3s;
          font-size: 24px;
          &:hover {
            opacity: 1;
          }
        }
        a::after {
          display: block;
          content: "";
          width: 100%;
          height: 2px;
          background-color: #f5821f;
          position: relative;
          top: 8px;
        }
      }
      li.on {
        a {
          opacity: 1;
        }
      }
    }
    .listwrap {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 300px;
        p {
          color: #f5821f;
          font-size: 20px;
          font-weight: bold;
          margin-top: 20px;
        }
        img {
          height: 200px;
          border-radius: 100px;
          overflow: hidden;
          transition: all 0.3s;

          &:hover {
            scale: 1.1;
            background-color: rgba(245, 130, 31, 0.4);
          }
        }
      }
    }
  }
}

#storycont {
  .cont1 {
    padding-top: 102px;
    height: 100vh;
    display: flex;
    background-color: #f8faf0;
    .left {
      width: 50%;
      background-image: url("/img/storybg1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .right {
      width: 40%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin-bottom: 120px;
        color: #f5821f;
        font-size: 48px;
      }
      h2 {
        margin-bottom: 60px;
        line-height: 1.5;
        color: #f5821f;
        font-size: 28px;
      }
      p {
        margin-bottom: 60px;
        color: #f5821f;
        font-size: 20px;
      }
    }
  }
  .cont2 {
    height: 100vh;
    display: flex;
    background-color: #f8faf0;
    .left {
      width: 50%;
      background-image: url("/img/storybg2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .right {
      width: 40%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        margin-bottom: 120px;
        color: #f5821f;
        font-size: 48px;
      }
      h2 {
        margin-bottom: 60px;
        line-height: 1.5;
        color: #f5821f;
        font-size: 28px;
      }
      p {
        margin-bottom: 60px;
        color: #f5821f;
        font-size: 20px;
      }
    }
  }
  .cont3 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8faf0;
  }
}

#storecont {
  .nostore {
    color: #f5821f;
    font-size: 32px;
    height: 50vh;
    padding-top: 50vh;
    text-align: center;
    background-image: url("/img/notfound.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .heading {
    text-align: center;
    font-size: 48px;
    color: #f5821f;
    margin: 48px;
    margin-top: 166px;
    font-weight: bold;
  }
  .header_wrap {
    overflow-x: scroll;
    .title {
      color: #f5821f;
      font-size: 48px;
      margin: 60px;
      text-align: center;
    }

    .header {
      width: 1200px;
      display: flex;
      margin: 0 auto;
      color: #f5821f;
      border-top: 1px solid #f5821f;
      border-bottom: 1px solid #f5821f;
      padding: 0 50px;
      .line {
        display: flex;
        line-height: 60px;
        width: 20%;
        &:nth-of-type(3) {
          width: 40%;
        }
      }
    }
    .list {
      width: 1200px;
      display: flex;
      margin: 0 auto;
      color: #f5821f;
      padding: 0 50px;
      .line {
        display: flex;
        width: 20%;
        line-height: 60px;
        &:nth-of-type(3) {
          width: 40%;
        }
      }
    }
    .list:last-of-type {
      margin-bottom: 120px;
    }
    .searchform1 {
      width: 300px;
      margin: 0 auto;
      line-height: 50px;
      > div {
        color: #f5821f;
        font-size: 20px;
      }
      .city1 {
        height: 50px;
        border: 1px solid #e4e4e4;
        color: #f5821f;
        width: 100px;
      }
      .city2 {
        height: 50px;
        border: 1px solid #e4e4e4;
        color: #f5821f;
        width: 100px;
      }
      button {
        height: 50px;
        width: 80px;
        background: none;
        border: 1px solid #f5821f;
        color: #f5821f;
        position: relative;
        top: 2px;
      }
    }
    .searchform2 {
      width: 300px;
      margin: 0 auto;
      line-height: 50px;
      > div {
        color: #f5821f;
        font-size: 20px;
      }
      input {
        height: 50px;
        line-height: 50px;
        border: 1px solid #e4e4e4;
        color: #f5821f;
        text-indent: 10px;
        position: relative;
        top: -1px;
      }

      button {
        height: 50px;
        width: 80px;
        background: none;
        border: 1px solid #f5821f;
        color: #f5821f;
        position: relative;
        top: 1px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  #storycont {
    .cont3 {
      iframe {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #header {
    .header-top {
      .btns {
        display: none;
      }
    }
  }
  #cont2 {
    flex-direction: column;
    position: relative;
    .item {
      display: none;
    }
    .left {
      height: 500px;
      width: 100%;
      position: relative;
      .title {
        text-align: center;
        padding-top: 60px;
      }
      .menu {
        display: flex;
        justify-content: center;
        position: static;
        margin: 60px auto;
        li {
          margin: 0 30px;
        }
      }
    }
    .right {
      width: 100%;
      height: 1000px;
      background-color: #f8faf0;
      position: relative;

      .contents {
        width: 80%;
        margin: 0 auto;
        position: static;
      }
      .items {
        position: static;
        display: flex;
        margin: 0 auto;
        margin-top: 250px;
        justify-content: center;

        img {
          width: 30%;
        }
      }
      .recom {
        width: 80%;
        left: 10%;
      }
    }
  }
  #cont4 {
    .left {
      width: 80%;
      margin: 0 auto;
      .contents {
        width: 100%;
      }
      .countbox {
        width: 100%;
      }
      .btn {
        width: 100%;
      }
    }
    .right {
      display: none;
    }
  }
  #cont5 {
    .circleEffect {
      width: 120px;
      height: 120px;

      left: 5%;
      .circle {
        width: 120px;
        height: 120px;
      }
    }

    .cards {
      .card {
        margin: 20px;
        img {
          width: 260px;
          height: 420px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #header {
    .header-mobileMenu {
      display: block;
    }
    .header-top {
      justify-content: space-between;
      .gnb {
        ul {
          display: none;
        }
      }
      .hamburgerbtn {
        .hamburger {
          display: block;
        }
      }
    }
  }
  #footer {
    .copyright {
      width: 90%;
    }
  }
  #menucont {
    .center {
      .title {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  #cont2 {
    .right {
      .contents {
        .title {
          font-size: 40px;
        }
      }
    }
  }
  #cont3 {
    .top {
      font-size: 48px;
    }
  }

  #cont5 {
    .cards {
      .card {
        margin: 20px;
        img {
          width: 300px;
          height: 400px;
        }
      }
      .card:last-of-type {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  #cont2 {
    .left {
      .menu {
        li {
          margin-left: 15px;
          margin-right: 15px;
          a {
            font-size: 20px;
          }
        }
      }
    }
  }

  #storycont {
    .cont1 {
      flex-direction: column;
      height: auto;

      .left {
        width: 100%;
        height: 400px;
      }
      .right {
        width: 80%;
        padding-top: 60px;
      }
    }
    .cont2 {
      flex-direction: column;
      height: auto;
      .left {
        width: 100%;
        height: 400px;
      }
      .right {
        width: 80%;
        margin: 60px auto;
      }
    }
    .cont3 {
      height: 80vh;
    }
  }
}

@media screen and (max-width: 760px) {
  #cont5 {
    height: auto;
    .circleEffect {
      display: none;
    }
    .cards {
      flex-direction: column;
      transform: translateY(0%);
      .card {
        margin: 40px;
        img {
          width: 80%;
          height: 40%;
        }
      }
    }
  }
}
