<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기부페이지</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.3.2/countUp.umd.min.js"
      integrity="sha512-Be9XaN4NvN8CVmbk4juf7JX2/87a7I37CX1WV37w+jyav4exBHDqHzmjs+Tbx7Dt2j9vpULDZNxcP0sZP03/WQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css"
      integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>
  <body>
    <%- include("common/header.ejs") %>
    <div id="donationcont">
      <div class="cont1">
        <div class="left">
          <div class="context">
            <span>도넛 한 개</span>로 맛있는 세상 만들기<br />
            <span>Enjoy your donuts,</span> Brilliant Life
          </div>
        </div>
        <div class="right"><img src="img/donationbg.jpg" /></div>
      </div>
      <div class="cont2">
        <div class="imgcont">
          <img src="img/oneforone.png" />
        </div>
        <div class="bot">
          <div class="left">
            <h2>ONE-FOR-ONE 도넛 한 개로 맛있는 세상 만들기</h2>
            <p>
              2016년부터 지금까지 달려온 걸음. 던킨도너츠에서는 도넛 한 개로
              기부가 됩니다.
            </p>
            <p>
              ‘원포원(ONE-FOR-ONE) 캠페인’은 우리 사회에 더 이상 소외 받는
              아이들이 없도록 던킨도너츠에서 ‘도넛’와 ‘기부’를 함께 즐기세요. 참
              쉬운 기부로 사랑을 나눠주세요!
            </p>
            <p>던킨도너츠 ONE-FOR-ONE 캠페인은 굿 네이버스와 함께합니다.</p>
          </div>
          <div class="right">
            <div class="countbox">
              <p>결식아동에게 기부된 우유</p>
              <h2 id="counter1">0</h2>
              <span>PACK</span>
            </div>
          </div>
        </div>
        <div class="searchBtn"><a href="store">가까운매장 찾기</a></div>
      </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script>
      var options = {
        enableScrollSpy: true,
        useEasing: true,
        scrollSpyOnce: true,
      };
      var counter = new countUp.CountUp("counter1", 276422, options);
    </script>
    <script>
      let hamMenu = document.querySelector(".hamburger");
      let mobileMenu = document.querySelector("#header .header-mobileMenu");
      hamMenu.addEventListener("click", () => {
        hamMenu.classList.toggle("is-active");
        if (hamMenu.classList.contains("is-active")) {
          mobileMenu.style.right = "0px";
        } else {
          mobileMenu.style.right = "-320px";
        }
      });

      let clickBtn = document.querySelectorAll(
        "#header .header-mobileMenu .navMenu .menuList ul .menu"
      );
      let depth2 = document.querySelectorAll(
        "#header .header-mobileMenu .navMenu .menuList ul li .depth2"
      );
      clickBtn.forEach((item, index) => {
        item.addEventListener("click", () => {
          depth2.forEach((item, index) => {
            item.classList.remove("on");
          });
          depth2[index].classList.add("on");
        });
      });
    </script>
    <script>
      AOS.init({
        once: true,
      });
    </script>
  </body>
</html>
