<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/2.3.2/countUp.umd.min.js"
      integrity="sha512-Be9XaN4NvN8CVmbk4juf7JX2/87a7I37CX1WV37w+jyav4exBHDqHzmjs+Tbx7Dt2j9vpULDZNxcP0sZP03/WQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.2.1/hamburgers.min.css"
      integrity="sha512-+mlclc5Q/eHs49oIOCxnnENudJWuNqX5AogCiqRBgKnpoplPzETg2fkgBFVC6WYUVxYYljuxPNG8RE7yBy1K+g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </head>

  <body>
    <%- include("common/header.ejs") %>
    <div id="cont1">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h2>잠깐의 여유와 달콤한 행복</h2>
          </div>
          <div class="swiper-slide">
            <h2>던킨도너츠와 함께하는 달콤한 휴식</h2>
          </div>
          <div class="swiper-slide">
            <h2>던킨도너츠의 다양한 음료와 도넛들</h2>
          </div>
        </div>
        <div class="scrollbtn">
          <img src="img/scroll-top.png" />
        </div>
      </div>
    </div>
    <div id="cont2">
      <div class="left" data-aos="fade-right">
        <div class="title">D&D MENU</div>
        <ul class="menu">
          <li><a href="#">SIGNATURE</a></li>
          <li><a href="#">COFFEE</a></li>
          <li><a href="#">DONUTS</a></li>
          <li><a href="#">BEVERAGE</a></li>
        </ul>
      </div>
      <div class="right" data-aos="fade-left">
        <div class="contents">
          <div class="title">SIGNATURE</div>
          <div class="context">
            <p>
              던킨도너츠만의 감성과 재미를 듬뿍 담아낸, 던킨도너츠에서만 맛볼 수
              있는 메뉴
            </p>
          </div>
        </div>
        <div class="items">
          <img src="/img/donut1.png" id="item1" />
          <img src="/img/donut2.png" id="item2" />
          <img src="/img/donut3.png" id="item3" />
        </div>
        <div class="recom">
          <div class="title">추천 토핑류</div>
          <div class="images">
            <img src="/img/donut1.png" id="item1" />
            <img src="/img/donut2.png" id="item2" />
            <img src="/img/donut3.png" id="item3" />
          </div>
        </div>
      </div>
      <div class="item">
        <img src="img/item1.png" id="itemImg" />
      </div>
    </div>
    <div id="cont3">
      <div class="top">
        MY DONUT,<br />
        MY TABLE.
      </div>
      <div class="bot"></div>
    </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
            height="100"
            width="250"
            alt=""
          />
        </div>
      </div>
    </div>
    <div id="cont4">
      <div class="left">
        <div class="contents">
          <div class="title" data-aos="fade-right">
            던킨도너츠에서 도너츠와 기부를 함께 즐기세요!
          </div>
          <div class="context" data-aos="fade-right" data-aos-delay="100">
            <p>
              매일 도넛을 한 개씩 "먹기만 해도 기부"가 되는 곳이 있습니다<br />던킨도너츠에서는
              DUNKIN'S PICK 메뉴를 구매하기만 해도 결식아동에게 "우유 1팩"이
              기부됩니다.
            </p>
          </div>
        </div>
        <div class="countbox">
          <p>결식아동에게 기부된 우유</p>
          <h2 id="counter1">0</h2>
          <span>PACK</span>
        </div>
        <div class="btn">
          <a href="/donation">자세히 보기</a>
        </div>
      </div>
      <div class="right" data-aos="fade-left" data-aos-delay="200"></div>
    </div>
    <div id="cont5">
      <div class="circleEffect">
        <img class="circle" src="img/circular.png" />
        <div class="arrow">
          <a href="/news"><img src="img/m-arrow.png" /></a>
        </div>
      </div>
      <div class="title">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>dunkin_donuts
      </div>
      <div class="cards">
        <div class="card card1" data-aos="fade-up">
          <a href="#"><img src="img/cont5-1.jpg" /></a>
        </div>
        <div class="card card2" data-aos="fade-up" data-aos-delay="100">
          <a href="#"><img src="img/cont5-2.jpg" /></a>
        </div>
        <div class="card card3" data-aos="fade-up" data-aos-delay="200">
          <a href="#"><img src="img/cont5-3.jpg" /></a>
        </div>
      </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script>
      let cont4Right = document.querySelector("#cont4 .right");
      let i = 0;
      function autoMove() {
        i++;
        if (i == 2) {
          i = 0;
        }
        if (i == 0) {
          cont4Right.style.backgroundImage = "url('img/cont4bg.jpg')";
        }
        if (i == 1) {
          cont4Right.style.backgroundImage = "url('img/cont4bg2.jpg')";
        }
        console.log(i);
      }
      setInterval(autoMove, 3000);
    </script>
    <script>
      var options = {
        enableScrollSpy: true,
        useEasing: true,
        scrollSpyOnce: true,
      };
      var counter = new countUp.CountUp("counter1", 276422, options);
    </script>
    <script>
      let hamMenu = document.querySelector(".hamburger");
      let mobileMenu = document.querySelector("#header .header-mobileMenu");
      hamMenu.addEventListener("click", () => {
        hamMenu.classList.toggle("is-active");
        if (hamMenu.classList.contains("is-active")) {
          mobileMenu.style.right = "0px";
        } else {
          mobileMenu.style.right = "-320px";
        }
      });

      let clickBtn = document.querySelectorAll(
        "#header .header-mobileMenu .navMenu .menuList ul .menu"
      );
      let depth2 = document.querySelectorAll(
        "#header .header-mobileMenu .navMenu .menuList ul li .depth2"
      );
      clickBtn.forEach((item, index) => {
        item.addEventListener("click", () => {
          depth2.forEach((item, index) => {
            item.classList.remove("on");
          });
          depth2[index].classList.add("on");
        });
      });

      let left = document.querySelector("#cont2 .left");
      let itemImg = document.querySelector("#cont2 #itemImg");
      let title = document.querySelector("#cont2 .right .contents .title");
      let context = document.querySelector("#cont2 .right .contents .context");
      let menu = document.querySelectorAll("#cont2 .left .menu > li > a");
      let item1 = document.querySelector("#cont2 .right .items #item1");
      let item2 = document.querySelector("#cont2 .right .items #item2");
      let item3 = document.querySelector("#cont2 .right .items #item3");

      menu.forEach((item, index) => {
        item.addEventListener("click", (e) => {
          e.preventDefault();
          changeData(index);
        });
      });

      const changeData = (index) => {
        menu.forEach((item, index) => {
          item.classList.remove("on");
        });
        if (index == 0) {
          title.innerHTML = "SIGNATURE";
          context.innerHTML =
            "던킨도너츠 감성과 재미를 듬뿍 담아낸, 던킨도너츠에서만 맛볼 수 있는 메뉴";
          menu[index].classList.add("on");
          left.style.backgroundImage = "url('/img/menu1.jpg')";
          itemImg.src = "img/item1.png";
          item1.src = "img/donut1.png";
          item2.src = "img/donut2.png";
          item3.src = "img/donut3.png";
        }
        if (index == 1) {
          title.innerHTML = "COFFEE";
          context.innerHTML =
            "던킨도너츠는 품질 좋은 원두를 선별해, 최적의 로스팅 포인트로 더욱 섬세하게 균형잡힌 풍미의 커피를 고객에게 선사합니다.";
          menu[index].classList.add("on");
          left.style.backgroundImage = "url('/img/menu2.jpg')";
          itemImg.src = "img/item2.png";
          item1.src = "img/donut4.png";
          item2.src = "img/donut5.png";
          item3.src = "img/donut6.png";
        }
        if (index == 2) {
          title.innerHTML = "DONUTS";
          context.innerHTML =
            "던킨도너츠가 존재하는 이유, 언제든 신선한 도너츠를 고객에게 선사합니다.";
          menu[index].classList.add("on");
          left.style.backgroundImage = "url('/img/menu3.jpg')";
          itemImg.src = "img/item3.png";
          item1.src = "img/donut1.png";
          item2.src = "img/donut2.png";
          item3.src = "img/donut3.png";
        }
        if (index == 3) {
          title.innerHTML = "BEVERAGE";
          context.innerHTML =
            "고객의 라이프 스타일에 맞춰 더욱 다양하게 즐길 수 있는 던킨도너츠의 음료 라인업!";
          menu[index].classList.add("on");
          left.style.backgroundImage = "url('/img/menu4.jpg')";
          itemImg.src = "img/item4.png";
          item1.src = "img/donut4.png";
          item2.src = "img/donut5.png";
          item3.src = "img/donut6.png";
        }
      };
    </script>
    <script>
      let scrollBtn = document.querySelector("#cont1 .swiper .scrollbtn");
      scrollBtn.addEventListener("click", () => {
        window.scrollTo(0, 0);
      });
    </script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <script>
      AOS.init({
        once: true,
      });
    </script>
  </body>
</html>
