<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 상세페이지</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="detailcont">
      <div class="center">
        <div class="prdimg">
          <img src="/upload/<%- prdData[2].thumbnail %>" />
        </div>
        <div class="prddetail"><p><%- prdData[2].detail %></p></div>
      </div>
    </div>
    <script>
      let currentPath = window.location.pathname;
      let currentNum = currentPath.replace(/\D/g, "");
      console.log(currentNum);
    </script>
  </body>
</html>
