<div id="footer">
  <h1 class="logo"><img src="img/logo2.png" /></h1>
  <div class="icons">
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></a>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
  </div>
  <div class="copyright">
    <p>개인정보취급방침</p>
    <div class="info">
      <span
        >주소: 서울시 구로구 구로3동 222-14 에이스하이엔드타워 2차 1402호</span
      >
      <span
        >도로명주소: 서울시 구로구 디지털로 26길 61 에이스하이엔드타워 2차
        1402호</span
      >
      <span>대표이사: 황규연</span>
      <span>사업자등록번호: 109-81-99153</span>
      <span>전화: 1600-5649</span>
      <span>팩스: 02-6340-1701</span>
    </div>
    <div class="bot">
      <p>COPYRIGHT (주)맥스원이링크 ALL RIGHTS RESERVED.</p>
    </div>
  </div>
</div>
