<div id="header">
  <div class="header-top">
    <h1 class="logo">
      <a href="/"><img src="/img/logo.jpg" /></a>
    </h1>
    <div class="gnb">
      <ul>
        <li>
          <a href="#">던킨도너츠</a>
          <ul class="depth2">
            <li><a href="/story">브랜드스토리</a></li>
            <li><a href="#">HISTORY</a></li>
            <li><a href="#">경쟁력</a></li>
            <li><a href="#">ONE FOR ONE</a></li>
          </ul>
        </li>
        <li>
          <a href="/menu">메뉴</a>
          <ul class="depth2">
            <li><a href="#">Signature</a></li>
            <li><a href="#">Coffee</a></li>
            <li><a href="#">Donuts</a></li>
            <li><a href="#">Beverage</a></li>
          </ul>
        </li>
        <li>
          <a href="#">매장안내</a>
          <ul class="depth2">
            <li><a href="/store">매장찾기</a></li>
            <li><a href="#">오픈예정 매장</a></li>
          </ul>
        </li>
        <li>
          <a href="#">WHAT'S NEW</a>
          <ul class="depth2">
            <li><a href="/news">새로운 소식</a></li>
            <li><a href="#">보도자료</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="btns">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
    <div class="header-mobileMenu">
      <div class="navMenu">
        <ul class="menuList">
          <ul>
            <li class="menu menu1">
              <a href="#">던킨도너츠</a>
              <ul class="depth2">
                <a href="/story"><li>브랜드스토리</li></a>
                <a href="#"><li>HISTORY</li></a>
                <a href="#"><li>경쟁력</li></a>
                <a href="#"><li>ONE FOR ONE</li></a>
              </ul>
            </li>
            <li class="menu menu2">
              <a href="/menu">메뉴</a>
              <ul class="depth2">
                <a href="#"><li>SIGNATURE</li></a>
                <a href="#"><li>COFFEE</li></a>
                <a href="#"><li>DONUTS</li></a>
                <a href="#"><li>BEVERAGE</li></a>
              </ul>
            </li>
            <li class="menu menu3">
              <a href="#">매장안내</a>
              <ul class="depth2">
                <a href="/store"><li>매장찾기</li></a>
                <a href="#"><li>오픈예정 매장</li></a>
              </ul>
            </li>
            <li class="menu menu4">
              <a href="#">WHAT'S NEW</a>
              <ul class="depth2">
                <a href="/news"><li>새로운 소식</li></a>
                <a href="#"><li>보도자료</li></a>
              </ul>
            </li>
          </ul>
        </ul>
        <div class="btns">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="searchBtn">
          <a href="#">매장찾기</a>
        </div>
      </div>
    </div>
    <div class="hamburgerbtn">
      <button class="hamburger hamburger--3dx" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
</div>
